html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
  }

.contenu {
    overflow: hidden;
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #a6a6a6;
    z-index: 3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    font-family: op;
    display: flex;
    margin-left: auto;
}

.bouton_nav{
    font-size: 20px;
    color: #00437a;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.langue{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #a6a6a6;
}

.langue_bouton {
    font-size: 20px;
    color: chocolate;
    padding-left: 50px;
    padding-right: 50px;
}



.logo_img {
    height: 70px;
}

body {
    background-image:url(/page_login/img/nuages.jpg);
    background-size: auto auto;
    background-repeat:no-repeat;
    background-position:center 0.9em;
}

.message {
    display: none;

}

@keyframes multicolor {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: green; }
    80% { color: blue; }
    100% { color: purple; }
}

.message {
    animation: multicolor 5s linear infinite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130px;
}

.container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 120px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.container1 {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 60px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 60px;
}

.nom {
    font-size: 30px;
    color: #00437a;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.container3 {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 40px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 60px;
}




